.poster-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 2.7rem 0 6.3rem;
  min-height: 25rem;
}

@media only screen and (max-width: 600px) {
  .App {
    width: 100%;
  }

  .poster-container {
    margin-left: 1.5rem;
  }
}
