.tile {
  position: relative;
  margin: 1rem 2rem 0 0;
}

.category-movies {
  position: absolute;
  top: 7.6rem;
  left: 5.5rem;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.category-series {
  position: absolute;
  top: 7.6rem;
  left: 5.8rem;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.action {
  margin: .3rem;
}

