.top-bar {
  background-color: #107ac4;
  color: white;
  padding: 1rem 1rem 1rem 7rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: -1rem;
  justify-content: space-between;
}

.log-in-btn {
  right: 12rem;
  background-color: #107ac4;
  border: 0;
  color: white;
  margin: 1.8rem 1rem 1rem -.3rem;
}

.free-trial-btn {
  right: 2rem;
  background-color: #474747;
  border: 0;
  color: white;
  margin: 0 8rem 1.5rem 1rem;  
  padding: .5rem;
}

h2 {
  background-color: #474747;
  color: white;
  padding: 1rem 1rem 1rem 7rem;
  margin-top: -1.35rem;
}

@media only screen and (max-width: 600px) {
  .top-bar {
    padding: 1rem 1rem 1rem 2rem;
  }

  .log-in-btn {
    margin-top: 0rem;
  }

  .free-trial-btn {
    margin-top: 0rem;
  }

  h2 {
    margin-left: -5rem;
  }
}   