.footer {
  background-color: gray;
  color: white;
  margin-bottom: -1.4rem;
  padding: 1rem 1rem 1rem 6.8rem;
  /* display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: -1rem; */
}

.btn {
  height: 2rem;
  position: fixed;
  right: 12rem;
  background-color: red;
  border: 0;
  color: white;
  margin-top: 1rem;
}

.copyright {
  font-size: 12px;
}

.icon-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 5rem;
}

.social-icons {
  margin: 0 0 .5rem -.8rem;
}

.social-icon {
  height: 2rem;
  width: 2rem;
  margin: .5rem;
}

.store-icons {
  margin: 0 0 .5rem -.8rem;
}

.store-icon {
  height: 2rem;
  margin: .5rem;
}